$mainColor : #00d2d3;
$secondColor : #5f27cd;
$black : #2C3A47;
$white : #ffffff;
$grey : #e5e5e5;

$maxWidth : 1200px;
$defFont : 18px;
$shadow : 0 10px 25px rgb(0 0 0 / 10%);
$borderRadius : 4px;
$menuHeight: 103.5px;