{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/logo.jpeg' %}" />


        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <header>
        <div class="wrapper-header">
            <a class="logo" href="/"><img src="{% static 'images/logo.jpeg' %}" alt="retour accueil"></a>
            <nav>
                <a href="/mon-super-blog">Blog</a>
                <a href="/" class="lien">Contact</a>
            </nav>
        </div>
    </header>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
<footer>
    <div class="wrapper-footer">
        <p>créé par <a href="https://www.linkedin.com/in/florian-vander-put" target="_blank">Florian Van der Put</a></p>
    </div>
</footer>
</html>
